@include media-breakpoint-down(md) {
    .menu .row {
        .col-md-4:first-child {
            order: 2;
        }

        .col-md-4:nth-child(2) {
            order: 1;
        }

        .col-md-4:last-child {
            order: 3;
        }
    }
}