header {
    background-color: #f1f1f1;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.menu {
    background-color: rgba($navbar-bg-color, 0.2);
    border-bottom: 1px solid $navbar-border-color;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    @include media-breakpoint-down(md) {
        background-color: $navbar-bg-color;
    }

    &__right {
        position: relative;
        z-index: 15;
        @include media-breakpoint-down(md) {
            width: 80%;
            float: right;
        }
        a {
            color: $black;
            &:hover {
                color: $primary;
            }
        }

        .list-inline-item {
            padding: 15px 0;
            @include media-breakpoint-down(md) {
                padding: 20px 0;
                @include font-size(18px);
            }
            @include media-breakpoint-down(sm) {
                padding-top: 0;
            }
        }

        >li:first-child {
            a {
                margin-right: 40px;
                display: inline-block;
            }
            &:hover .menu__cart {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }

        >li:last-child {
            &:hover .search-form {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }

    &__cart {
        position: relative;
        @include font-size(12px);
        border: 2px solid $primary;
        background: $white;
        position: absolute;
        top: 67px;
        left: 5px;
        min-width: 200px;
        padding: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100px);
        @include transition(all .5s ease);
        @include media-breakpoint-down(lg) {
            left: -30%;
            right: 0;
        }

        @include media-breakpoint-down(md) {
            left: 70%;
            max-width: 200px;
        }

        @include media-breakpoint-down(xs) {
            left: 20%;
        }

        &::before {
            position: absolute;
            content: '';
            top: -10px;
            left: 34%;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 10px solid $primary;
            @include media-breakpoint-down(sm) {
                left: initial;
                right: 0;
            }
        }

        li {
            a {
                @include font-size(12px);
                display: inline-block;
                position: relative;
                margin-bottom: 20px;
                margin-right: 0 !important;
            }

            img {
                margin-right: 10px;
            }

            span {
                @extend %price;
                position: absolute;
                left: 87px;
                top: 30px;
            }
        }
    }

    &__cart--total {
        border-top: 1px solid $mega-border-heading;
        a {
            display: inline-block;
            background: $cart-link-color;
            color: $white;
            width: 70px;
            text-transform: uppercase;
            text-align: center;
        }

        span:nth-child(2) {
            @extend %price;
        }
    }
}

.navbar-nav {
    padding-left: 75px;
    @include media-breakpoint-down(md) {
        padding-left: 0;
    }
    >li {
        >a {
            color: $navbar-color;
            font-weight: $font-weight-bold;
            padding: 15px 0;
            text-transform: uppercase;
            @include font-size(12px);
            margin-left: 25px;
            @include transition(all .2s ease);

            @include media-breakpoint-down(lg) {
                margin-left: 10px;
            }

            @include media-breakpoint-down(sm) {
                padding: 0;
            }

            &:hover {
                color: $primary;
            }
            &.active-mega:hover .mega-menu {
                opacity: 1;
                visibility: visible;
            }
        }

        &.active a {
            color: $primary;
        }

        &.active-mega:hover .mega-menu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}

.mega-menu {
    position: absolute;
    top: 75px;
    left: 120px;
    background: $white;
    min-width: 670px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid $primary;
    opacity: 0;
    transform: translateY(100px);
    visibility: hidden;
    @include transition(all .5s ease);
    @include media-breakpoint-down(md) {
        top: 55%;
        left: 0;
        min-width: 100%;
    }

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        padding-bottom: 0;
    }

    &__item {
        margin-right: 30px;
        position: relative;
        overflow: hidden;
        min-width: 200px;
        &:last-child {
            margin-right: 0;
        }

        h4 {
            @include font-size(14px);
            display: inline-block;
            min-width: 140px;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            border-bottom: 1px solid $mega-border-heading;
            padding-bottom: 15px;
            @include media-breakpoint-down(sm) {
                @include font-size(12px);
                cursor: pointer;
            }
        }
    }

    &::before {
        position: absolute;
        content: '';
        top: -10px;
        left: 32%;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 10px solid $primary;
    }

    a {
        color: $mega-menu-color;
        @include font-size(13px);
        position: relative;
        overflow: hidden;
        @include transition(all .3s ease);
        &::before {
            position: absolute;
            left: 0px;
            top: 7px;
            width: 3px;
            height: 3px;
            background: $primary;
            content: '';
            border-radius: 50%;
            opacity: 0;
            @include transition(all .4s ease);
        }


        &:hover {
            color: $primary;
            padding-left: 6px;
        }
        &:hover::before {
            opacity: 1;
        }
    }
}

.search-form {
    position: absolute;
    min-width: 320px;
    text-align: center;
    margin: 0 auto;
    background: $white;
    border: 2px solid $primary;
    padding: 10px;
    right: 0;
    top: 67px;
    @include transition(all .5s ease);
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);

    form {
        margin: 0 auto;
        text-align: center;
        display: inline-block;
    }

    button {
        background: $primary;
        border: 1px solid $primary;
        color: $white;
        margin-left: -3px;
    }
    &::before {
        position: absolute;
        content: '';
        top: -12px;
        right: 0;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 10px solid #789629;
    }
}

.slider {
    &__left {
        padding-top: 100px;

        h1,
        h2 {
            color: $primary;
        }

        h2,
        a {
            text-transform: uppercase;
            font-weight: $font-weight-light;
        }

        a {
            text-decoration: underline;
            color: $link-slider-color;
            @include font-size(18px);
            opacity: 0;
            @include transition(all .3s ease);
            animation: zoomIn 1s forwards;
            animation-delay: 1.5s;

            &:hover {
                color: $primary;
            }
        }

        h1 {
            font-family: "UTMViceroyJF";
            margin: 0;
            opacity: 0;
            @include font-size(110px);
            @include transition(all .1s ease);
            animation: slideFromLeft 1s forwards;
            animation-delay: 0.5s;

            @include media-breakpoint-down(lg) {
                @include font-size(90px);
            }

            @include media-breakpoint-down(sm) {
                @include font-size(80px);
            }
        }

        h2 {
            @include font-size(45.24px);
            opacity: 0;
            @include transition(all .1s ease);
            animation: slideFromLeft 1s forwards;
            animation-delay: 1.5s;
            @include media-breakpoint-down(lg) {
                @include font-size(35px);
            }
            @include media-breakpoint-down(sm) {
                @include font-size(24px);
            }
        }

        p {
            @include font-size(19.23px);
            margin: 0;
            opacity: 0;
            font-weight: $font-weight-light;
            color: $para-slider-color;
            @include transition(all .1s ease);
            animation: slideFromLeft 1s forwards;
            animation-delay: 1s;
            @include media-breakpoint-down(lg) {
                @include font-size(16px);
            }
            @include media-breakpoint-down(sm) {
                @include font-size(14px);
            }
        }

        img {
            opacity: 0;
            @include transition(all .3s ease);
            animation: zoomIn 1.2s forwards;
            animation-delay: 0.5s;
        }
    }

    &__right {
        img {
            position: relative;
            opacity: 0;
            @include transition(all .3s ease);
            animation: slideFromBottom 1.5s forwards;
            @include media-breakpoint-down(xs) {
                max-width: 100%;
            }
        }
    }
}